.disqusin {
	font-family: sans-serif;
	margin-top: 30px;
	position: relative;
	margin: 0;
	padding: 0;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

.disqusin  a {
	color: #03658c;
	text-decoration: none;
}

.disqusin ul {
	list-style-type: none;
}

.disqusin:before {
	content: '';
	width: 2px;
	height: 100%;
	background: #c7cacb;
	position: absolute;
	left: 5%;
	top: 0;
}

.disqusin:after {
	content: '';
	position: absolute;
	background: #c7cacb;
	bottom: 0;
	left: 7px;
	width: 7px;
	height: 7px;
	border: 3px solid #dee1e3;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	border-radius: 50%;
}

.disqusin li {
	margin-bottom: 15px;
	display: block;
	position: relative;
}

.disqusin li:after {
	content: '';
	display: block;
	clear: both;
	height: 0;
	width: 0;
}

.disqusin .comment-avatar {
	width: 10%;
	height: auto;
	position: relative;
	z-index: 99;
	float: left;
	border: 3px solid #FFF;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	-webkit-box-shadow: 0 1px 2px rgba(0,0,0,0.2);
	-moz-box-shadow: 0 1px 2px rgba(0,0,0,0.2);
	box-shadow: 0 1px 2px rgba(0,0,0,0.2);
	overflow: hidden;
}

.comment-avatar img {
	width: 100%;
	height: 100%;
}

.comment-main-level:after {
	content: '';
	width: 0;
	height: 0;
	display: block;
	clear: both;
}

.disqusin .comment-box {
	width: 87%;
	float: right;
	position: relative;
	-webkit-box-shadow: 0 1px 1px rgba(0,0,0,0.15);
	-moz-box-shadow: 0 1px 1px rgba(0,0,0,0.15);
	box-shadow: 0 1px 1px rgba(0,0,0,0.15);
}

.disqusin .comment-box-me {
	width: 87%;
	float: right;
	position: relative;
	-webkit-box-shadow: 0 1px 1px rgba(0,0,0,0.15);
	-moz-box-shadow: 0 1px 1px rgba(0,0,0,0.15);
	box-shadow: 0 1px 1px rgba(0,0,0,0.15);
}

.disqusin .comment-box:before, .disqusin .comment-box:after {
	content: '';
	height: 0;
	width: 0;
	position: absolute;
	display: block;
	border-width: 10px 12px 10px 0;
	border-style: solid;
	border-color: transparent #FCFCFC;
	top: 8px;
	left: -11px;
}

.disqusin .comment-box-me:before, .disqusin .comment-box-me:after {
	content: '';
	height: 0;
	width: 0;
	position: absolute;
	display: block;
	border-width: 10px 12px 10px 0;
	border-style: solid;
	border-color: transparent #FCFCBD;
	top: 8px;
	left: -11px;
}

.disqusin .comment-box:before {
	border-width: 11px 13px 11px 0;
	border-color: transparent rgba(0,0,0,0.05);
	left: -12px;
}

.disqusin .comment-box-me:before {
	border-width: 11px 13px 11px 0;
	border-color: transparent rgba(0,0,0,0.05);
	left: -12px;
}

.disqusin .comment-box .comment-head {
	background: #FCFCFC;
	padding: 10px 12px;
	border-bottom: 1px solid #E5E5E5;
	overflow: hidden;
	-webkit-border-radius: 4px 4px 0 0;
	-moz-border-radius: 4px 4px 0 0;
	border-radius: 4px 4px 0 0;
}

.disqusin .comment-box-me .comment-head-me {
	background: #FCFCBD;
	padding: 10px 12px;
	border-bottom: 1px solid #E5E5E5;
	overflow: hidden;
	-webkit-border-radius: 4px 4px 0 0;
	-moz-border-radius: 4px 4px 0 0;
	border-radius: 4px 4px 0 0;
}

.disqusin .comment-box .comment-head i {
	float: right;
	margin-left: 14px;
	position: relative;
	top: 2px;
	color: #A6A6A6;
	cursor: pointer;
	-webkit-transition: color 0.3s ease;
	-o-transition: color 0.3s ease;
	transition: color 0.3s ease;
}

.disqusin .comment-box-me .comment-head-me i {
	float: right;
	margin-left: 14px;
	position: relative;
	top: 2px;
	color: #A6A6A6;
	cursor: pointer;
	-webkit-transition: color 0.3s ease;
	-o-transition: color 0.3s ease;
	transition: color 0.3s ease;
}

.disqusin .comment-box .comment-head i:hover {
	color: #03658c;
}

.disqusin .comment-box-me .comment-head-me i:hover {
	color: #03658c;
}

.disqusin .comment-box .comment-bottom {
	background: #FCFCFC;
	padding: 10px 12px;
	border-bottom: 1px solid #E5E5E5;
	overflow: hidden;
	-webkit-border-radius: 4px 4px 0 0;
	-moz-border-radius: 4px 4px 0 0;
	border-radius: 4px 4px 0 0;
}

.disqusin .comment-box-me .comment-bottom-me {
	background: #FCFCFC;
	padding: 10px 12px;

	border-bottom: 1px solid #E5E5E5;
	overflow: hidden;
	-webkit-border-radius: 4px 4px 0 0;
	-moz-border-radius: 4px 4px 0 0;
	border-radius: 4px 4px 0 0;
}

.disqusin .comment-box .comment-name {
	color: #283035;
	font-size: 14px;
	font-weight: 700;
	float: left;
	margin-right: 10px;
}

.disqusin .comment-box-me .comment-name {
	color: #283035;
	font-size: 14px;
	font-weight: 700;
	float: left;
	margin-right: 10px;
}

.disqusin .comment-box .comment-bottom a {
	color: #283035;
}

.disqusin .comment-box-me .comment-bottom-me a {
	color: #283035;
}

.disqusin .comment-box .comment-head span {
	float: left;
	color: #999;
	font-size: 13px;
	position: relative;
	top: 1px;
}

.disqusin .comment-box-me .comment-head-me span {
	float: left;
	color: #999;
	font-size: 13px;
	position: relative;
	top: 1px;
}

.disqusin .comment-box .comment-content {
	background: #FFF;
	padding: 12px;
	font-size: 15px;
	color: #595959;
	-webkit-border-radius: 0 0 4px 4px;
	-moz-border-radius: 0 0 4px 4px;
	border-radius: 0 0 4px 4px;
}

.disqusin .comment-box-me .comment-content {
	background: #FFF;
	padding: 12px;
	font-size: 15px;
	color: #595959;
	-webkit-border-radius: 0 0 4px 4px;
	-moz-border-radius: 0 0 4px 4px;
	border-radius: 0 0 4px 4px;
}

.disqusin .comment-box .comment-content img {
	width: auto;
	max-width: 100%;
	float: none;
	height: auto;
	max-height: 100%;
	margin: 0;
}

.disqusin .comment-box-me .comment-content img {
	width: auto;
	max-width: 100%;
	float: none;
	height: auto;
	max-height: 100%;
	margin: 0;
}

.disqusin .comment-box .comment-name.by-author, .disqusin .comment-box .comment-name.by-author a, .disqusin .comment-box .comment-name a {
	color: #03658c;
}

.disqusin .comment-box-me .comment-name.by-author, .disqusin .comment-box-me .comment-name.by-author a, .disqusin .comment-box-me .comment-name a {
	color: #03658c;
}

.disqusin .comment-box .comment-name.by-author:after {
	content: 'autor';
	background: #03658c;
	color: #FFF;
	font-size: 12px;
	padding: 3px 5px;
	font-weight: 700;
	margin-left: 10px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
}

.disqusin .comment-box-me .comment-name.by-author:after {
	content: 'autor';
	background: #03658c;
	color: #FFF;
	font-size: 12px;
	padding: 3px 5px;
	font-weight: 700;
	margin-left: 10px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
}


.disqusin pre {
	background: #fff;
	color: #7F8C8D;
	font-family: sans-serif;
	font-size: 1em;
	font-weight: 100;
	letter-spacing: 0.01em;
	line-height: 1.6;
	white-space: pre;
	white-space: pre-wrap;
	word-wrap: break-word;
	padding: 0px;
	border: none;
}

.disqusin_load_more {
	display: block;
	text-align: center;
	margin-top: 40px;
	margin-bottom: 60px;
}

.disqusin_load_more .btn {
	width: 100%;
	font-family: sans-serif;
	font-size: 1.5em;
	font-weight: bold;
	cursor: pointer;
	border: none;
	padding: 15px 20px 15px 20px;
	background-color: transparent;
	color: #999;
	text-transform: uppercase;
	color: #777;
	text-decoration: none;
}

.disqusin_load_more .btn:hover {
	color: #222;
	background-color: #bbb;
}

#div_chat {
  height: 1100px;
  overflow-y: auto;
}

#menu_scroll_down {
  z-index: 100;
  top: 800px;
  position: fixed;
  background-color: #68A4C4;
  border-width:1px;
  border-style:solid;
  border-color:white;
  box-sizing: border-box;
  transition: All 0.2s ease;
  -webkit-transition: All 0.2s ease;
  -moz-transition: All 0.2s ease;
  -o-transition: All 0.2s ease;
  text-align: center;
  opacity:0.0;
}

#btn_scroll_down {
  background-color: #68A4C4;
  border: none;
  padding-top: 5px;
  color: white;
  text-align: center;
  font-family: 'consolas';
  font-size: 25px;
  width: 100%;
  height: 100%;
  opacity:0.0;
  display:inline-block;
}

/* #menu_hide {
  width: 100%;
  height: 60px;
  z-index: 2;
  menu_scroll_down보다 크게 해줘야 함
  top: 200px;
  position: fixed;
  background-color: #FFFFFF;
  box-sizing: border-box;
} */

.jjokjee{
	width:20px;
	height:20px;
	float:right;
	position:relative;
	margin-left: 15px;
}

.singo{
	width:20px;
	height:20px;
	float:right;
	position:relative;
}

.btn btn-primary{
	z-index:150;
}
#dialogue{
	margin-top:10px;
}
#dialogue textarea{
	border-color:#68A4C4;
	width:100%;
	resize:none;
}
.remaining{
	position:absolute;
	bottom:100px;
	right:27px;	
}
.remaining2{
	position:absolute;
	bottom:65px;
	right:27px;	
}
#sendBtn{
	background: #74b4d4;
    background-image: -webkit-linear-gradient(top, #74b4d4, #3177a3);
    background-image: -moz-linear-gradient(top, #74b4d4, #3177a3);
    background-image: -ms-linear-gradient(top, #74b4d4, #3177a3);
    background-image: -o-linear-gradient(top, #74b4d4, #3177a3);
    background-image: linear-gradient(to bottom, #74b4d4, #3177a3);
    -webkit-border-radius: 9;
    -moz-border-radius: 9;
    border-radius: 9px;
    border-style:none;
    font-family: Arial;
    color: #ffffff;
    font-size: 12px;
    padding: 6px 10px 6px 10px;
    text-decoration: none;
    position:absolute;
    right:0px;
    top:10px;
    z-index:150;
}
#sendBtn:hover{
	background: #3cb0fd;
  	text-decoration: none;
  	border-style:none;
}
.btnAlign{
	height:40px;
	position:relative
}
#timelineHeader{
	background:#68A4C4; 
	width:100%; 
	margin-bottom:15px;
}

#toggleBtn{
	background: #74b4d4;
    background-image: -webkit-linear-gradient(top, #74b4d4, #3177a3);
    background-image: -moz-linear-gradient(top, #74b4d4, #3177a3);
    background-image: -ms-linear-gradient(top, #74b4d4, #3177a3);
    background-image: -o-linear-gradient(top, #74b4d4, #3177a3);
    background-image: linear-gradient(to bottom, #74b4d4, #3177a3);
    -webkit-border-radius: 9;
    -moz-border-radius: 9;
    border-radius: 9px;
    border-style:none;
    font-family: Arial;
    color: #ffffff;
    font-size: 12px;
    padding: 4px 6px 4px 6px;
    text-decoration: none;
    /* position:absolute;  */
    right:0px;
    top:10px;
    z-index:150;
    
}
#toggleBtn:hover{
	background: #3cb0fd;
  	text-decoration: none;
  	border-style:none;
}
.tTypeUp{
	width:65px;
	height:10px;
	margin-top:20px;
}
.comment-type{
	padding:10px 10px 10px 10px;
}
.tTypeDown{
	width:100px;
	height:10px;
	margin-top:40px;
	margin-bottom:8px;
}
#searchBtn{
	background: #74b4d4;
    background-image: -webkit-linear-gradient(top, #74b4d4, #3177a3);
    background-image: -moz-linear-gradient(top, #74b4d4, #3177a3);
    background-image: -ms-linear-gradient(top, #74b4d4, #3177a3);
    background-image: -o-linear-gradient(top, #74b4d4, #3177a3);
    background-image: linear-gradient(to bottom, #74b4d4, #3177a3);
    -webkit-border-radius: 9;
    -moz-border-radius: 9;
    border-radius: 9px;
    border-style:none;
    font-family: Arial;
    color: #ffffff;
    font-size: 12px;
    padding: 4px 10px 4px 10px;
    text-decoration: none;
    position:absolute;
    left:160px;
    top:10px;
    z-index:150;
    
}
#searchBtn:hover{
	background: #3cb0fd;
  	text-decoration: none;
  	border-style:none;
}
.textQ{
	position:absolute;
    left:0px;
    top:10px;
    z-index:150;
    border-color:#74b4d4;
}