<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE mapper PUBLIC
"-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="authority">
	<resultMap type="Authority" id="aMap">
	</resultMap>
	
	<insert id="insertAuthority" parameterType="Authority">
		INSERT INTO AUTHORITY SELECT SEQ_AID.NEXTVAL,#{mNo},#{mName},SYSDATE,#{address},#{aContent},#{aCode},'N',NULL,'N',#{img_file},#{site_url}FROM DUAL WHERE NOT EXISTS(SELECT * FROM AUTHORITY WHERE ACODE=#{aCode} AND MNO=#{mNo})
		<!-- INSERT INTO AUTHORITY
		VALUES(SEQ_AID.NEXTVAL,#{mNo},#{mName},SYSDATE,#{address},#{aContent},#{aCode},DEFAULT,DEFAULT,DEFAULT,#{img_file},#{site_url}) -->
	</insert>
	
	<select id="selectRequest" parameterType="_int" resultType="Authority">
		select mno, mname, (select mnick from member m where m.mno = a.mno) mnick, address, acontent, acode, atake, grant_date,delflag, request_date, 
               (select substr(aname,0,4) from authority_type at where a.acode = at.acode) aname,
               img_file, site_url
		from authority a
		where mno = #{mno}
	</select>
	
	<select id="selectRequestOne" parameterType="_int" resultType="Authority">
		select mno, mname, (select mnick from member m where m.mno = a.mno) mnick,
               address, acontent, acode, atake, grant_date,delflag, request_date, 
               (select substr(aname,0,4) from authority_type at where a.acode = at.acode) aname,
               img_file, site_url
		from authority a
		where mno = #{mno} and acode = #{acode} and grant_date is null
	</select>
	
	<update id="grantAuthority" parameterType="hashmap">
		update authority a set atake = 'Y', grant_date = sysdate
		where mno = (select mno from member where mnick = #{mnick}) and acode = #{acode}
	</update>
	
	<update id="refuseAuthority" parameterType="hashmap">
		update authority set delflag = 'Y'
		where mno = (select mno from member where mnick = #{mnick}) and acode = #{acode}
	</update>
	
</mapper>