<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE mapper PUBLIC
"-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="authority">
	<resultMap type="Authority" id="aMap">
	</resultMap>
	
	<insert id="insertAuthority" parameterType="Authority">
		INSERT INTO AUTHORITY
		VALUES(SEQ_AID.NEXTVAL,#{mNo},#{mName},SYSDATE,#{address},#{aContent},#{aCode},DEFAULT,DEFAULT,DEFAULT)
	</insert>
	
	<select id="selectRequest" parameterType="_int" resultType="Authority">
		select * from authority
		where mno = #{mno}
	</select>
	
	<update id="grantAuthority" parameterType="_int">
		update authority set atake = 'Y', grant_date = sysdate
		where mno = #{mno}
	</update>
	
	<update id="refuseAuthority" parameterType="_int">
		update authority set delflag = 'Y'
		where mno = #{mno}
	</update>
	
</mapper>