<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE mapper PUBLIC
"-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="board">

	<resultMap type="Board" id="boardMap"></resultMap>
	<!-- <resultMap type="Fileref" id="fileMap"></resultMap> -->
	
	<select id="selectBoardListToBcode" parameterType="_int" resultType="Board">
		SELECT A.*, B.*, (SELECT
		COUNT(*) FROM FILEREF WHERE BID = A.BID) FILECOUNT
		FROM BOARD A, MEMBER B		
		WHERE BCODE=#{bCode} AND ISNOTICE='N' AND DELFLAG='N' AND RFLAG='N'
		AND A.MNO = B.MNO
		ORDER BY BDATE DESC, BNO DESC		
	</select>
	
	<select id="selectBoardList" resultType="Board">
		SELECT A.*, B.*, (SELECT
		COUNT(*) FROM FILEREF WHERE BID = A.BID) FILECOUNT
		FROM BOARD A, MEMBER B		
		WHERE BCODE='1'	AND ISNOTICE='N' AND DELFLAG='N' AND RFLAG='N'
		AND A.MNO = B.MNO
		ORDER BY BDATE DESC, BNO DESC		
	</select>
	
	<select id="selectNoticeList" resultType="Board">
		<!-- SELECT A.*, (SELECT
		COUNT(*) FROM FILEREF WHERE BID = A.BID) FILECOUNT
		FROM BOARD A 
		WHERE BCODE='1'	AND ISNOTICE='Y' AND DELFLAG='N'	
		ORDER BY BDATE DESC, BNO DESC -->
		SELECT A.*, B.*, (SELECT
		COUNT(*) FROM FILEREF WHERE BID = A.BID) FILECOUNT
		FROM BOARD A, MEMBER B
		WHERE BCODE='1'	AND ISNOTICE='Y' AND DELFLAG='N'
        AND A.MNO = B.MNO        
		ORDER BY BDATE DESC, BNO DESC	
	</select>	
	
	<select id="selectBoardTotalContents" resultType="_int">
		SELECT COUNT(*)
		FROM BOARD WHERE BCODE='1'
	</select>
	<select id="selectOneBoard" parameterType="_int"
		resultType="Board">
		<!-- SELECT * FROM BOARD WHERE BID = #{bId} -->
		SELECT A.*, B.MNICK, B.PROFILE_PATH FROM BOARD A, MEMBER B WHERE BID = #{bId} AND A.MNO = B.MNO		
	</select>
	<update id="updateOneCount">
		UPDATE BOARD SET BCOUNT = BCOUNT+1  WHERE BID= #{bId}
	</update>
	
	<insert id="insertBoard" parameterType="Board">
		INSERT INTO BOARD(BID, MNO, BNO, BCODE, BTITLE, BCONTENT, HASFILE, ISNOTICE)
		VALUES
		(SEQ_BID.NEXTVAL,#{mNo},SEQ_BNO_1.NEXTVAL,#{bCode},#{bTitle},#{bContent}, #{hasFile}, #{isNotice})
		<!-- 전달한 board객체의 bNo 프로퍼티에 결과값을 담는다. -->
		<selectKey keyProperty="bId" resultType="_int" order="AFTER">
			SELECT SEQ_BID.CURRVAL FROM DUAL
		</selectKey>
	</insert>
	
	<update id="updateBoard" parameterType="Board">
		UPDATE BOARD SET BTITLE = #{BTitle}, BCONTENT = #{BContent}, ISNOTICE=#{isNotice} WHERE BID= #{BId}	
	</update>
	
	<update id="deleteBoard">
		UPDATE BOARD SET DELFLAG = 'Y' WHERE BID= #{BID}
	</update>
	
	<insert id="insertImgBaord" parameterType="Board">
		INSERT INTO BOARD(BID, MNO, BNO, BCODE, BTITLE, BCONTENT, hasfile)
		VALUES (SEQ_BID.NEXTVAL, #{mNo}, SEQ_BNO_5.NEXTVAL, 5, #{bTitle}, #{bContent}, #{hasFile})
		<!-- 전달한 board객체의 bNo 프로퍼티에 결과값을 담는다. -->
		<selectKey keyProperty="bId" resultType="_int" order="AFTER">
			SELECT SEQ_BID.CURRVAL FROM DUAL
		</selectKey>
	</insert>
	
	<insert id="insertImgFile" parameterType="Fileref">
		insert into fileref values(seq_fid.nextval, #{bId}, #{fType}, #{origin_Name}, #{change_Name}, default)
	</insert>
	
	<select id="selectThumbnailImg" parameterType="_int" resultType="string">
		select change_name from (select rownum rnum, sub.* from (select * from fileref where bid = #{bid} order by fid asc) sub) where rnum = 1
	</select>
	
	<select id="selectCommentCnt" parameterType="_int" resultType="_int">
		select count(*) from coment where bid = #{bid} and rflag = 'N' and delflag='N'
	</select>
	
</mapper>