<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE mapper PUBLIC
"-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="coment">
	<resultMap type="Coment" id="comentMap"></resultMap>
	
	<select id="selectComentList" parameterType="_int" resultType="Coment">
		SELECT C.*, M.* FROM COMENT C, MEMBER M WHERE BID = #{bId} AND DELFLAG='N' AND C.MNO = M.MNO
	</select>
	
	<insert id="insertComent">
		INSERT INTO COMENT VALUES( \
				SEQ_CID.NEXTVAL, #{bId}, #{mNo}, #{cContent}, SYSDATE, DEFAULT, DEFAULT, DEFAULT, DEFAULT )
	</insert>
	
	<update id="updateComent">
		UPDATE COMENT SET CCONTENT =#{cContent} WHERE CID=#{cId}
	</update>
	
	<update id="deleteComent">
		UPDATE COMENT SET DELFLAG = 'Y' WHERE CID = #{cId}
	</update>
</mapper>