<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE mapper PUBLIC
"-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="common">
	
	<select id="selectToday" resultType="_int">
		select count(*) from visitor where to_char(sysdate, 'yyyymmdd') = to_char(vdate, 'yyyymmdd')
	</select>
	
	<insert id="insertToday">
		insert into visitor values(seq_vid.nextval, sysdate, default)
	</insert>
	
	<update id="updateCount">
		update visitor set vcount = vcount + 1 where to_char(sysdate, 'yyyymmdd') = to_char(vdate, 'yyyymmdd')
	</update>
	
	<select id="selectAllCnt" resultType="_int">
		select sum(vcount) from visitor
	</select>
	
	<select id="selectDayCnt" resultType="_int">
		select sum(vcount) from visitor where to_char(sysdate, 'yyyymmdd') = to_char(vdate, 'yyyymmdd')
	</select>
	
	<select id="selectAvgCnt" resultType="_int">
		select avg(vcount) from visitor
	</select>
	
	<select id="selectGenderCnt" resultType="hashmap">
		select (select count(*) from member where gender like 'F') "여성 회원수",
       (select count(*) from member where gender like 'M') "남성 회원수",
       (select count(*) from member where gender is null) "기타 회원수"
		from dual
	</select>
	
	<select id="selectAgeCnt" resultType="hashmap">
		select (select count(*) from member where age = 10) "10대 회원수",
       (select count(*) from member where age = 20) "20대 회원수",
       (select count(*) from member where age = 30) "30대 회원수",
       (select count(*) from member where age = 40) "40대 회원수",
       (select count(*) from member where age is null) "기타 회원수"
		from dual
	</select>
	
	<select id="selectMemberCnt" resultType="hashmap">
		select (select count(*) from member m) "전체 회원수",
       (select count(*) from member where drop_date is not null) "탈퇴 회원",
       (select count(*) from member where drop_date is null) "현재 회원수"
		from dual
	</select>
	
	<select id="selectBoardCnt" resultType="hashmap">
		select (select count(*) from board) "전체 게시글 수",
		(select count(*) from board where bdate like sysdate) "오늘 게시글",
       (select count(*) from board where bcode = 1) "자유 게시글 수",
       (select count(*) from board where bcode = 2) "정보공유 게시글 수",
       (select count(*) from board where bcode = 3) "여행후기 게시글 수",
       (select count(*) from board where bcode = 4) "질문 게시글 수"
		from dual
	</select>
	
	<!-- <select id="selectBoardTodayCnt" resultType="hashmap">
		select (select count(*) from board where bcode=1 and bdate like sysdate) "자유",
       (select count(*) from board where bcode=2 and bdate like sysdate) "정보공유",
       (select count(*) from board where bcode=3 and bdate like sysdate) "여행후기",
       (select count(*) from board where bcode=4 and bdate like sysdate) "질문"
		from dual
	</select> -->
	
	<select id="selectGroupBoard" resultType="hashmap">
	<![CDATA[
		select to_char(bdate, 'YYYY-MM-DD') "날짜", count(*) "개수",
        SUM(COUNT(*)) OVER(ORDER BY to_char(bdate, 'YYYY-MM-DD')) "누적 게시글"
		from board
		where bdate >= '2019-01-01' and bdate < '2019-01-31'
		group by to_char(bdate, 'YYYY-MM-DD')
		order by to_char(bdate, 'YYYY-MM-DD')
	]]>
	</select>
</mapper>