<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE mapper PUBLIC
"-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="member">

	<insert id="insertMember" parameterType="Member">
		INSERT INTO MEMBER VALUES(
			#{mno} #{mid}, #{mpw}, #{mnickname},
			#{mtype}, #{email}, #{gender}, #{age},
			#{address}, #{hobby, typeHandler=strArrTypeHandler}, DEFAULT
		)
	</insert>

</mapper>







