<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE mapper PUBLIC
"-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="member">
	<resultMap type="Member" id="memberMap">
  </resultMap>

	<insert id="insertMember" parameterType="Member">
		insert into member
		values(
		seq_mno.nextval, #{mid}, #{mpw}, #{mname}, #{mnick},
		#{mtype}, #{email}, #{gender}, #{age}, #{profilePath}, DEFAULT, DEFAULT)
  </insert>
  
	<select id="selectOne" parameterType="string"
		resultType="Member">
		select * from member where mid = #{mid}
	</select>

	<select id="selectFindID" parameterType="string"
		resultType="Member">
		select * from member where email = #{email}
	</select>
  
  <update id="updateMember" parameterType="Member">
		UPDATE MEMBER SET
		MPW = #{mpw},
		MNAME = #{email},
		MNICK = #{age},
		EMAIL = #{phone},
		GENDER = #{address},
		PROFILE_PATH=#{profilePath},
		WHERE MNO = #{mno}
	</update>
  
  <update id="updatePW" parameterType="Member">
		update member set mpw =
		#{mpw} where mid = #{mid}
	</update>

	<!-- 아이디 확인 쿼리 -->
	<select id="checkIdDuplicate" statementType="CALLABLE"
		parameterType="hashmap">
		<!-- CallableStatement 는 { } 로 묶여 실행되며 시작괄호 '{' 다음에 tab 기호를 읽지 못한다. -->
		{ CALL ID_DUP_CHK(#{mid, mode=IN, jdbcType=VARCHAR},
			#{result, mode=OUT, jdbcType=NUMERIC, javaType=integer})
		}
	</select>

</mapper>
