<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE mapper PUBLIC
"-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="TimeLine">
	

	<select id="selectMno" parameterType="string" resultType="_int">
		SELECT MNO FROM MEMBER WHERE MNICK=#{mnick}
	</select>

	<insert id="insertTimeLine" parameterType="TimeLineSmpl">
		INSERT INTO TIMELINE VALUES (SEQ_TID.NEXTVAL, #{mNo}, DEFAULT, #{tContent}, DEFAULT, #{hashTag})
	</insert>
	
	<select id="getMemberByNick" parameterType="string" resultType="Member">
		SELECT * FROM MEMBER WHERE MNICK=#{mnick}
	</select>
	
	<select id="selectPreTimeLine" resultType="PreTimeLine">
		SELECT * FROM (
		SELECT M.PROFILE_PATH, M.MNICK, T.TDATE, T.TCONTENT, T.HASHTAG
		FROM MEMBER M JOIN TIMELINE T USING(MNO)
		ORDER BY T.TDATE DESC
		)
		WHERE 
		<![CDATA[ROWNUM<=20]]> 
		ORDER BY 3 ASC
	</select>
	
</mapper>