@charset "UTF-8";

/* manager page ìš© */
body {
	margin: 0 auto !important;
}

* {
	box-sizing: border-box;
}

td, th{
	padding: 3px 3px;
	text-align: center !important;
	border-bottom: 1px solid lightgray;
    border-left: 1px solid lightgray;
    font-size: 12px;
}

th {
    font-size: 15px;
    font-weight: bolder;
}

table[id$=Table]{
	border: 1px solid lightgray;
	border-radius: 4px;
	border-collapse: collapse;
	width: 100%;
	margin: 0 auto;
}

#tabs {
  overflow: auto;
  width: 100%;
  list-style: none;
  margin: 0;
  padding: 0;
}

#tabs li {
    margin: 0;
    padding: 0;
    float: left;
}

#tabs a {
    box-shadow: -4px 0 0 rgba(0, 0, 0, .2);
    background: rgb(104, 164, 196);
    background: linear-gradient(220deg, transparent 10px, rgb(104, 164, 196) 10px);
    text-shadow: 0 1px 0 rgba(0,0,0,.5);
    color: #fff;
    float: left;
    font: bold 12px/35px 'Lucida sans', Arial, Helvetica;
    height: 35px;
    padding: 0 30px;
    text-decoration: none;
}

#tabs a:hover {
    background: rgba(104, 164, 196, 0.822);
    background: linear-gradient(220deg, transparent 10px, rgba(104, 164, 196, 0.822) 10px);     
}

#tabs a:focus {
    outline: 0;
}

#tabs #current a {
    background: #fff;
    background: linear-gradient(220deg, transparent 10px, #fff 10px);
    text-shadow: none;    
    color: #333;
}

#content {
    background-color: #fff;
    background-image: linear-gradient(top, #fff, #ddd);
    padding: 30px 0 40px 0 !important;
}

#content div {
    height: auto;
}

#container {
	width: 70%;
	height:98%;
	margin: 0 auto;
}

#resultArea {
	margin: 0 auto;
	padding: 50px 0 40px 0;
}

.searchArea {
	float : right;
	margin : 10px;
}

button[id*=Btn], button[name*=Btn] { 
    border : 1px solid lightgray;
    background : rgba(218, 218, 218, 0.623);
}

button:hover {
    border : 1px solid rgba(119, 188, 224, 0.623);
    background : rgba(128, 202, 241, 0.568);
}